In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
pd.set_option('display.max_rows', None)  
pd.set_option('display.max_columns', None)

In [3]:
df_sinasc = pd.read_csv('C:\\Users\\gabie\\OneDrive\\Área de Trabalho\\ebac\\projetos\\predicao_neonatal\\dados\\SINASC//SINASC_MA_V1_REM.csv')
df_sim = pd.read_csv('C:\\Users\\gabie\\OneDrive\\Área de Trabalho\\ebac\\projetos\\predicao_neonatal\\dados\\SIM//SIM_MA_V1_REM.csv')

In [4]:
df_sinasc.head().T

                    0          1          2          3          4
Unnamed: 0        1.0        2.0        3.0        4.0        5.0
CODMUNNASC   210005.0   210005.0   210005.0   210005.0   210005.0
LOCNASC           1.0        1.0        1.0        1.0        1.0
IDADEMAE         19.0       25.0       18.0       23.0       24.0
ESTCIVMAE         2.0        2.0        1.0        2.0        1.0
ESCMAE            4.0        4.0        4.0        4.0        4.0
QTDFILVIVO        0.0        0.0        0.0        1.0        1.0
QTDFILMORT        0.0        0.0        0.0        0.0        0.0
GESTACAO          5.0        5.0        5.0        5.0        5.0
GRAVIDEZ          1.0        1.0        1.0        1.0        1.0
PARTO             1.0        2.0        2.0        2.0        1.0
CONSULTAS         4.0        3.0        3.0        3.0        3.0
DTNASC      3012017.0  2012017.0  1012017.0  1012017.0  2012017.0
SEXO              2.0        2.0        1.0        1.0        2.0
APGAR1            8.0        9.0        8.0        8.0        9.0
APGAR5            9.0       10.0        9.0        9.0       10.0
RACACOR           4.0        4.0        4.0        4.0        1.0
PESO           3160.0     3115.0     3605.0     3155.0     3320.0
IDANOMAL          2.0        2.0        2.0        2.0        2.0
RACACORMAE        4.0        4.0        4.0        4.0        1.0
QTDGESTANT        0.0        0.0        0.0        1.0        1.0
QTDPARTNOR        0.0        0.0        0.0        0.0        1.0
QTDPARTCES        0.0        0.0        0.0        1.0        0.0
TPROBSON          1.0        1.0        1.0        5.0        3.0
KOTELCHUCK        5.0        4.0        4.0        4.0        3.0

In [5]:
len(df_sinasc)

497614

In [6]:
df_sim.head().T

                    0           1           2          3           4
Unnamed: 0        0.0         1.0         2.0        3.0         4.0
DTNASC      9032017.0  15032017.0  17032017.0  1072017.0  22052017.0
SEXO              1.0         2.0         2.0        1.0         2.0
CODMUNNASC   210690.0    211050.0    210330.0   210910.0    210047.0
IDADEMAE         19.0        21.0        30.0       22.0        19.0
RACACOR           1.0         4.0         4.0        1.0         1.0
ESCMAE            4.0         9.0         3.0        4.0         4.0

In [7]:
len(df_sim)

4405

In [8]:
# Definindo as colunas para comparação
colunas_para_comparar = [
    'DTNASC',
    'SEXO',
    'CODMUNNASC',
    'IDADEMAE',
    'RACACOR',
    'ESCMAE'
]

# Fazendo uma cópia do df_sinasc e adicionando a coluna "VIVO" preenchida com 1
df_neom = df_sinasc.copy()  # Usando df_neom agora
df_neom['VIVO'] = 1

# Inicializando os contadores
cont_acho = 0
cont_dup = 0

# Iterando sobre cada linha do df_sim
for index, row_sim in df_sim.iterrows():
    # Verificando se a linha do df_sim está presente no df_neom
    match = df_neom[
        (df_neom['DTNASC'] == row_sim['DTNASC']) &
        (df_neom['SEXO'] == row_sim['SEXO']) &
        (df_neom['CODMUNNASC'] == row_sim['CODMUNNASC']) &
        (df_neom['IDADEMAE'] == row_sim['IDADEMAE']) &
        (df_neom['RACACOR'] == row_sim['RACACOR']) &
        (df_neom['ESCMAE'] == row_sim['ESCMAE'])
    ]

    # Se houver correspondência
    if not match.empty:
        cont_acho += 1  # Incrementa o contador de ocorrências
        
        # Verificando se há duplicatas (mais de uma ocorrência)
        if match.shape[0] > 1:
            # Excluir todas as duplicatas do df_neom
            df_neom.drop(match.index, inplace=True)
            cont_dup += 1  # Incrementa o contador de duplicatas
        else:
            # Alterar o valor da coluna "VIVO" para 0 na ocorrência encontrada
            df_neom.loc[match.index, 'VIVO'] = 0

# Exibindo os resultados
print(f"Número de ocorrências encontradas: {cont_acho}")
print(f"Número de duplicatas encontradas: {cont_dup}")

Número de ocorrências encontradas: 1641
Número de duplicatas encontradas: 275

In [9]:
df_neom.head().T

                    0          1          2          3          4
Unnamed: 0        1.0        2.0        3.0        4.0        5.0
CODMUNNASC   210005.0   210005.0   210005.0   210005.0   210005.0
LOCNASC           1.0        1.0        1.0        1.0        1.0
IDADEMAE         19.0       25.0       18.0       23.0       24.0
ESTCIVMAE         2.0        2.0        1.0        2.0        1.0
ESCMAE            4.0        4.0        4.0        4.0        4.0
QTDFILVIVO        0.0        0.0        0.0        1.0        1.0
QTDFILMORT        0.0        0.0        0.0        0.0        0.0
GESTACAO          5.0        5.0        5.0        5.0        5.0
GRAVIDEZ          1.0        1.0        1.0        1.0        1.0
PARTO             1.0        2.0        2.0        2.0        1.0
CONSULTAS         4.0        3.0        3.0        3.0        3.0
DTNASC      3012017.0  2012017.0  1012017.0  1012017.0  2012017.0
SEXO              2.0        2.0        1.0        1.0        2.0
APGAR1            8.0        9.0        8.0        8.0        9.0
APGAR5            9.0       10.0        9.0        9.0       10.0
RACACOR           4.0        4.0        4.0        4.0        1.0
PESO           3160.0     3115.0     3605.0     3155.0     3320.0
IDANOMAL          2.0        2.0        2.0        2.0        2.0
RACACORMAE        4.0        4.0        4.0        4.0        1.0
QTDGESTANT        0.0        0.0        0.0        1.0        1.0
QTDPARTNOR        0.0        0.0        0.0        0.0        1.0
QTDPARTCES        0.0        0.0        0.0        1.0        0.0
TPROBSON          1.0        1.0        1.0        5.0        3.0
KOTELCHUCK        5.0        4.0        4.0        4.0        3.0
VIVO              1.0        1.0        1.0        1.0        1.0

In [11]:
df_neom['VIVO'].value_counts()

VIVO
1    495630
0      1366
Name: count, dtype: int64

In [12]:
len(df_neom)

496996

In [13]:
df_neom.to_csv('C:\\Users\\gabie\\OneDrive\\Área de Trabalho\\ebac\\projetos\\predicao_neonatal\\dados\\NeoMort_MA.csv',index=False)